version: '3.8'

services:
  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN=nestapi.lazybird.io
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - nest-backend

  nest-backend:
    build: ./server
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
      - NODE_ENV=production
      - PORT=3004
    volumes:
      - ./uploads:/app/uploads
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: always

volumes:
  caddy_data:
  caddy_config:
